* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: hsl(216, 12%, 8%);
}
.inner {
  width: 300px;
  min-height: 300px;
  background-color: hsl(213, 19%, 18%);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
button {
  color: hsla(25, 97%, 53%, 0.57);
  background-color: hsla(216, 12%, 54%, 0.096);
  padding: 6px;
  border: none;
  border-radius: 50px;
  font-size: 11px;
  margin: 15px 0;
}
.inner h3 {
  color: white;
  margin-bottom: 10px;
}
.inner p {
  color: hsl(217, 12%, 63%);
  text-align: center;
  font-size: 15px;
}
